@mixin unselectable {
  -o-user-select: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  user-drag: none;
}

.body {
  @include unselectable;
  background-color: #2d2e30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  font-weight: 500;
}

.gameLayout {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}