@mixin unselectable {
  -o-user-select: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  user-drag: none;
}


.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  @include unselectable;
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
} 

.tile-expand-animation {
  animation: onTileEnter ease-in-out;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
}

@keyframes onTileEnter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
