.modalBody {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem; //add selectors for mobile scaling
    border-radius: 16px;
    box-shadow: 24;
    padding: 2em;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    outline: none;

}


.dark {
  background-color: #363842;
  color: white;
}

.light {
  background-color: white;
  color: #2d2e30;
}

.closeIcon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}