.wordContainer {
  height: 3%;
  margin-bottom: 0.5em;
}

.wordWrapper {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.75em;
  border-radius: 0.75vmin;
}

.textWrapper {
  margin-bottom: 0.10rem;
}

.animation_valid {
  animation: expand ease-out;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  cursor: grabbing;
}

.animation_invalid, .animation_duplicate {
  animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes expand {
  0% {
    transform: scale(1);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.05);
    opacity: 0.0;
  }
}

@keyframes shake {
  0% {
    opacity: 1.0;
  }
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
  100% {
    opacity: 0.0;
  }
}

//colors

.dark_invalid {
  background-color: aliceblue !important;
}

.dark_duplicate {
  background-color: yellow !important;
}

.dark_valid {
  background-color: green !important;
}


.light_invalid {
  background-color: aliceblue !important;
}

.light_duplicate {
  background-color: yellow !important;
}

.light_valid {
  background-color: green !important;
}