@import '/src/styles/BasicButton.scss';


.instructionsWrapper {
  text-align: center;
  margin-bottom: 2rem;
  
  &Dark {
    @extend .instructionsWrapper;
    color: #79f1a1;
    font-weight: lighter;
  }

  &Light {
    @extend .instructionsWrapper;
    color: #67827e;
    font-weight: normal;
  }
}

.gridWrapper {
  width: 80%;
}

.playButton {
  @include button;
  margin-top: 1.5rem;
}