@mixin icon {
    cursor: pointer;
    color: #ffffff;
    width: calc(50% - 0.5rem) !important;
    height: 100% !important;
    margin: 0 0.3rem;
}

@mixin icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
    width: 6rem;
    max-width: 75px;
    min-width: 40px;
}

.bar {
    margin-bottom: 2%;
}
.barWrapper {
    height: 5%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.githubContainer {
    @include icon-container;
    padding-right: 0.5rem;
}

.github {
    @include icon;
}

.infoSettingsContainer {
    @include icon-container;
    padding-left: 0.5rem;
}

.info {
    @include icon;
}

.settings {
    @include icon;
}

.logo {
    display: flex;
    width: 500px;
}

.logoAnimation:focus {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.logoAnimation:active {
    animation: none;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(5px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-7px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(7px, 0, 0);
    }
}