@import '/src/styles/BasicButton.scss';

.header {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 2em;
  font-weight: bold;

  hr {
    width: 80%;
  }
}

.resultsContainer {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}

.wordsColumn, .scoreColumn {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wordsSubheader, .scoreSubheader {
  font-size: 150%;
  width: 70%;
  margin-top: 0;
}

.wordsLabel, .scoreLabel {
  font-weight: lighter;
  font-size: 55%;
}



.wordEntry, .scoreEntry {
  cursor: pointer;
  font-weight: 500;
}

.wordEntry:hover {
  color: #50C878;
  cursor: pointer;
}

.replayButton {
  @include button;
  margin-top: 0.5rem;
}

.revealButton {
  @include button;
  background-color: indianred;
  margin-top: 1rem;

  &:hover {
    background-color: rgb(190, 91, 91);
  }

  &:active {
    background-color: rgb(167, 76, 76);
  }
}

.resultsButton {
  @include button;
}