.grid {
    width: calc(min(120vh, 150vw)*0.5);
    max-width: min(30rem,80%);
    display: flex;
    justify-content: top;
    flex-direction: column;
    background-color: #545857;
    border-radius: 5%;
    cursor: grab;
}