.tileContainer {
  position: relative;
  height: 0px;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 15% !important;
}

.tileWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  border-radius: 50%;
  font-weight: 650;
}

.animation {
  animation: onTileEnter ease-in-out;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  cursor: grabbing;
}

@keyframes onTileEnter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

//colors
.dark_logo {
  background-color: #50C878 !important;
}

.dark_unvisited {
  background-color: white !important;
}

.dark_valid {
  background-color: #50C878 !important;
}

.dark_duplicate {
  background-color: #f6e866 !important;
}

.dark_invalid {
  background-color: #a9b7c4 !important;
}

.light_logo {
  background-color: #D1F0DE !important;
}

.light_unvisited {
  background-color: #fdfaf9ed !important;
}

.light_duplicate {
  background-color: #f6e866 !important;;
}

.light_valid {
  background-color: #82f4a8 !important;
}

.light_invalid {
  background-color: #b37f6eed!important;
}
