.tileContainer {
  position: relative;
  height: 0px;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 15% !important;
}

.tileWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  border-radius: 50%;
  
}

.animation {
  animation: onTileEnter ease-in-out;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  cursor: grabbing;
}

@keyframes onTileEnter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

//colors
.darkLogo {
  background-color: #50C878 !important;
}

.darkUnvisited {
  background-color: white !important;
}
.darkValid {
  background-color: green !important;
}

.darkDuplicate {
  background-color: yellow !important;
}

.darkInvalid {
  background-color: aliceblue !important;
}

.lightLogo {
  background-color: #D1F0DE !important;
}

.lightUnvisited {
  background-color: #ffffff !important;
}

.lightValid {
  background-color: lightseagreen !important;
}

.lightInvalid {
  background-color: orangered !important;
}
